.address {
}

.address__list {
    line-height: 1.71;
    font-style: normal;
    margin-top: 20px;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address__link {
    color: var(--transparent-color);
    text-decoration: none;
    line-height: 1.71;
    transition: var(--transition-color);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.address__link--white {
    color: var(--text-color);
}
